body {
	background-color: #c6e7ff;
}

.header {
	padding-top: 25px;
}

#imgDiv {
	position: relative;
}

#titleImg{
	margin: auto;
	display: block;
	max-height: 50%;
	max-width: 50%;
}

#leftImg {
	position: absolute;
	left: 0;
	top: 0;
	max-height: 120%;
	max-width: 120%;
}

#rightImg {
	position: absolute;
	right: 0;
	top: 0;
	max-height: 120%;
	max-width: 120%;
}

#start, #results, #quiz {
	margin: auto;
	display: block;
	text-align: center;
}

#timer {
  margin: 20px;
  height: 200px;
  position: relative;
}

#timerText {
  font-size:36px;
  border-top: 1px solid #C0392B;
  border-bottom: 1px solid #C0392B;
}
